
    {{> head }}
  
    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4"> Hola {{ capitalizar nombre }}! </h1>
        <p class="lead">Este es un ejemplo</p>
        <hr class="my-4">
        <p>it uses utility classes for typographie and spacing to space content</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button"> Learn more!</a>
        </p>
    </div>

{{> footer }}